@model IEnumerable<AdvancedFinalProject.Models.Project>

@{
    ViewData["Title"] = "Index";
 
    int? userId = ViewData["UserId"] as int?;
}
<div style="position: absolute; top: 130px; right: 320px;">
    <a asp-controller="Registration" asp-action="LogIn" class="btn btn-outline-primary"> Log out</a>
</div>


<h1>Projects</h1>

<p>
    <a asp-action="Create" class="btn btn-success mb-3">+ Create Project</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ProjectTitle
            </th>
            <th>
                ProjectDescription
            </th>
            <th>
                Creator
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr onclick="window.location='@Url.Action("Index", "Tasks", new { projectId = item.ProjectId })'" style="cursor: pointer;">

                    <td>
                         @item.ProjectTitle
                    </td>
                    <td>
                        @item.ProjectDescription
                    </td>
                    <td>
                        @if (item.Creator != null)
                        {
                            @item.Creator.UserName
                        }
                        else
                        {
                            <span>No creator assigned</span>
                        }
                    </td>
                    <td>

                   
                         @if (userId == item.CreatorId)   
                        {
                            <a asp-action="Edit" asp-route-id="@item.ProjectId" class="btn btn-sm btn-primary me-1">✏️ Edit</a>
                            <a asp-action="Details" asp-route-id="@item.ProjectId" class="btn btn-sm btn-info text-white me-1">👁 Details</a>
                            <a asp-action="Delete" asp-route-id="@item.ProjectId" class="btn btn-sm btn-danger">🗑 Delete</a>

                        }
                   
                        </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">No projects found.</td>
            </tr>
        }
    </tbody>
</table>
